@import url(./normalize.css);
@import url(./reset.css);
@import url(./fonts.css);

/* 숨긴 콘텐츠 */
.a11y-hidden, legend {
  background-color: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 1.4rem;
  color: #222;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* 50%는 X축, 0은 Y축 ->  */
  background: url(./images/bg_flower.png) no-repeat 50% 20%, #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) no-repeat 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  width: 250px;
  height: 300px;
}
.group2 {
  width: 380px;
  height: 300px;
}
.group3 {
  background: blue;
  width: 190px;
  height: 300px;
}

/* 레이아웃 - 셀렉터 그룹핑 */
.header, 
.visual, 
.main, 
.slogan, 
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 55px;
  left: 60px;
  z-index: 1;
}

/* 텍스트 링크 모음 */
.member{
  text-align: right;
  padding: 12px 0 0 0;
}

.member li {
  display: inline-block;
}

.member a {
  padding: 0 10px;
  display: inherit;
  text-transform: uppercase;
}

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}
.menu {
  border-radius: 0 0  5px 5px;
  border-top: 2px solid #222;
  background: darkblue linear-gradient(to bottom,skyblue, darkblue, skyblue);
  padding-left: 230px;
  height: 47px; /* 보더 2px 추가되니 주의 */
  position: relative;
}


.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  font-size: 15px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.is-active .menu-button {
  color: violet;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  display: none;
  padding: 4px 0;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
  /* 서브메뉴 중 3번째까지만 각 부모요소에 왼쪽정렬을 위한 명령 */
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a::before {
  content: '\e805';
  font-family: "fontello";
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-left: 0.3em;
  text-align: center;
  line-height: 1em;
  margin-left: 0.4em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801"
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: orange;
}

/* 비쥬얼(날아가는 글자, 꽃) */
@keyframes moveEffect {
  0% {
    font-size: 14px;
    color: rgba(0,0,0,0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px, 80px);
  }
}
@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual-text {
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: moveEffect 800ms ease-in-out forwards;
  z-index: 1;
}

.visual::before,
.visual::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before{
  background: url(./images/ani_flower_01.png) no-repeat 30% 20px, url(./images/ani_flower_02.png) no-repeat 55% 0px;
}
.visual::after{
  background: url(./images/ani_flower_03.png) no-repeat 95% 0px, url(./images/ani_flower_04.png) no-repeat 5% 30px;
  animation-delay: 1200ms;
}

/* 메인 */
.main {
  background: #fff;
  display: flow-root; 
  padding: 30px 15px;
  min-height: 450px;
  border-radius: 15px 15px;
  /* overflow: hidden; */
}

/* 로그인 영역 */
.login {
  padding: 15px;
  background: skyblue radial-gradient(circle at right top,skyblue,darkblue);
  border-radius: 5px;
}

.login-title {
  font-size: large;
  font-weight: bold;
  color: violet;
}

.login-form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.login fieldset {
  position: relative;
}

.login-form label {
  display: inline-block;
  width: 4em;
  line-height: 20px;
}


.login-form input {
  font-size: 10px;
  text-indent: 0.2em;
  width: 85px;
  height: 20px;
  
}

.user-email {
  padding-bottom: 5px;
}

.user-pw {
  padding-bottom: 10px;
}

.login-button {
  background: darkblue;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 3px;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 0px;
  right: 0;
}

.sign {
  border-top: 1px solid #eee;
  padding-top: 5px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.sign a::before{
  content: "\e803";
  font-family: "fontello";
  margin-right: 5px;
  color: darkblue;
  text-shadow: 1px 1px 1px #ccc;
}

/* 유효성 검사 */
.validation li{
  margin-top: 10px;
}

.validation a{
  display: block;
  border: 2px solid #aaa;
  background: url(./images/validation_icon.png) no-repeat 10px 50%, linear-gradient(to bottom, #aaa, #eee);
  border-radius: 20px;
  padding: 8px 30px;
}

/* 웹 관련 용어 */
.term {
  margin-top: 15px;
  background: linear-gradient(to top, #ccc, #eee);
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 15px 10px;
}

.term-list div{
  margin-top: 10px;
  display: flow-root;
}

.term-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.term-list-subject,
.term-list-brief {
  float: right;
  width: 140px;
}

.term-list-subject {
  font-weight: 500;
  color: rgb(36, 99, 215);
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: middle; /* 이미지 아래 살짝나온 갭을 없애기 위해 배치하는 것 */
}

.term-list-brief {
  line-height: 1.5;
}

.cross .term-list-subject,
.cross .term-list-brief {
  float: left;
  width: 140px;
}

.cross .term-list-thumbnail {
  float: right;
}

/* 검색 폼 */
.search-form{
  background: linear-gradient(to bottom, #aaa, #eee);
  border-radius: 15px 15px 0 0;
  border: 1px solid #aaa;
}

.search-form-inner {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 15px;

}

.form-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.form-group-label {
  flex-shrink: 0;
  margin-right: 10px;

}

.form-group-input {
  flex-grow: 1;
  line-height: 20px;
}

/* 공지사항 및 자료실 */

.board {
  margin-top: 20px;
  position: relative;;
}

.tab-list {
  display: flex;
}

.tab-list button {
  background: linear-gradient(to bottom, #aaa, #eee);
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  padding: 5px 10px
}

.is-select.tab {
  background: white;
  border-radius: 5px 5px 0 0;
  border: 2px solid darkblue;
  border-bottom: none;
}

.board-list {
  padding: 15px 5px;
}

.board-list li{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 2;  
}

.board-list li:hover{
  color: rgb(36, 99, 215);
}

.board-list a{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding-right: 10px;
}

.tab-pannel {
  display: none;
}

.is-select.tab-pannel{
  display: block;
}

.board-more {
  position: absolute;
  top: 10px;
  right: 5px;
}

/* 새소식 */
.news {
  position: relative;
}

.news-title {
  font-size: 1.2em;
  font-weight: 700;
  color:rgb(36, 99, 215);
  padding: 15px 0;
}

.news::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc 0%, #ccc 70%, #fff);
}

.news-link {
  display: block;
}

.news-item{
  position: relative;
  padding-left: 130px;
}

.news-item-title {
  font-weight: 700;
}

.news-item-date {
  display: block;
  margin-top: 5px;
}

.news-item-brief {
  line-height: 1.5;
  margin-top: 10px;
}

.news-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-more {
  position: absolute;
  right: 5px;
  top: -35px;
}

/*  */

